<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>New Design</title>

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}"/>

        <link rel="stylesheet" th:href="@{/resources/css/design.css}"/>

        <script type="text/javascript" th:src="@{/resources/js/utils.js}"></script>
    </head>
    <body>

        <div class="drawer">
            <p class="drawer-text drawer-text-section">Weight Reductor</p>


        </div>




        <!---->
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>