<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'addProduct')}">
    <body>
        <h1>Add Product</h1>

        <form th:object="${product}" class="form-horizontal" method="post">
            <div>
                <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
                <input th:replace="~{fragments/inputField :: input ('Protein', 'protein', 'text')}"/>
                <input th:replace="~{fragments/inputField :: input ('Carbs', 'carbs', 'text')}"/>
                <input th:replace="~{fragments/inputField :: input ('Fat', 'fat', 'text')}"/>
            </div>
            <div>
                <button class="btn btn-default" type="submit">Add Product</button>
            </div>
        </form>
    </body>
</html>
<!--th:href="@{/resources/css/product.css}"-->