<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/rootLayout :: rootLayout (~{::body}, 'addProduct', 'addProduct')}">
    <body>
        <h2>Add a Product</h2>
        <form th:object="${product}" class="form-horizontal" method="post">
            <div class="form-group has-feedback">
                <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
                <input th:replace="~{fragments/inputField :: input ('Protein', 'protein', 'number')}"/>
                <input th:replace="~{fragments/inputField :: input ('Carbs', 'carbs', 'number')}"/>
                <input th:replace="~{fragments/inputField :: input ('Fat', 'fat', 'number')}"/>
            </div>
            <button th:with="text=${product['new']} ? 'Add a Product' : 'Update a Product'"
                    type="submit"
                    class="small blue button"
                    th:text="${text}">
                Add a Product
            </button>
        </form>
    </body>
</html>