<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/rootLayout :: rootLayout (~{::body}, 'allProducts', 'allProducts')}">
    <body>
        <h1 class="page-title">All Products</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Protein [per 100g]</th>
                    <th>Carbs [per 100g]</th>
                    <th>Fat [per 100g]</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${products.empty}">
                    <td colspan="4"> No Products Available </td>
                </tr>
                <tr th:each="product : ${products}">
                    <td><span th:text="${product.name}">?</span></td>
                    <td><span th:text="${product.protein}">?</span></td>
                    <td><span th:text="${product.carbs}">?</span></td>
                    <td><span th:text="${product.fat}">?</span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>