<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/rootLayout :: rootLayout (~{::body}, 'addMeal', 'addMeal')}">
    <body>
        <h2>Add a Meal</h2>
        <form th:object="${meal}" class="form-horizontal" method="post">
            <div class="form-group has-feedback">
                <input th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}"/>
                <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
<!--                <input th:replace="~{fragments/selectField :: select ('Type', 'type', ${products})}" />-->
            </div>
            <button th:with="text=${meal['new']} ? 'Add a Meal' : 'Update a Meal'"
                    type="submit"
                    class="small blue button"
                    th:text="${text}">
                Add a Meal
            </button>
        </form>
    </body>
</html>