<html>
    <body>
        <form>
            <th:block th:fragment="input (label, name, type)">
                <div th:with="valid=${!#fields.hasErrors(name)}"
                     class="input-field"
                     th:classappend="${valid ? '' : 'has-error'}">
                    <label th:text="${label}">Label</label>
                    <div>
                        <div th:switch="${type}">
                            <input th:case="'text'" class="form-control" type="text" th:field="*{__${name}__}"/>
                            <input th:case="'number'" class="form-control" type="number" step="0.1"
                                   th:field="*{__${name}__}"/>
                            <input th:case="'date'" class="form-control" type="date" th:field="*{__${name}__}" />
                        </div>
                        <th:block th:if="${!valid}">
                            <span class="glyphicon glyphicon-remove"
                                  aria-hidden="true"></span>
                            <span class="help-inline" th:errors="*{__${name}__}">Error</span>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </form>
    </body>
</html>
