<html>
    <body>
        <a th:fragment="menuItem (itemText, linkPath, currentItem, glyphIcon)"
           th:href="@{__${linkPath}__}"
           th:title="${itemText}"
           th:classappend="${currentItem==activeMenuItem ? 'sidebar-item-active' : ''}"
           class="sidebar-text sidebar-item">
                <span th:class="'glyphicon  glyphicon-'+${glyphIcon}"
                      class="glyphicon glyphicon-home"
                      th:classappend="margin-right-4"
                      aria-hidden="true"></span>
            <span th:text="${itemText}">Template</span>
        </a>
    </body>
</html>
