<!doctype html>
<html th:fragment="rootLayout (template, pageName, activeMenuItem)">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}"/>

        <title>WEB Weight Reductor New Design</title>

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" th:src="@{/resources/js/utils.js}"></script>
        <link rel="stylesheet" th:href="@{/resources/css/design.css}"/>

        <script th:inline="javascript">
            /*<![CDATA[*/
            window.onload = function() {
                let pageName = /*[[${pageName}]]*/ '';
                pageLoaded(pageName);
                loadWeighingsChart(pageName, /*[[${weighings}]]*/ '')
            }
            /*]]>*/
        </script>
    </head>

    <body>
        <div id="root-container">

            <div id="header-container">
                <div id="header-content">
                    Buy premium pls
                </div>
            </div>

            <div id="sidebar-and-content-container">
                <div id="sidebar-container">
                    <div class="sidebar-text sidebar-title">Weight Reductor</div>
                    <div class="sidebar-item-container">
                        <a th:replace="~{fragments/menuItem ::menuItem ('Home', '/', 'home','home')}"></a>
                        <a th:replace="~{fragments/menuItem ::menuItem ('All Products', '/products', 'allProducts', 'search')}"></a>
                        <a th:replace="~{fragments/menuItem ::menuItem ('Add a Product', '/products/add', 'addProduct', 'plus')}"></a>
                        <a th:replace="~{fragments/menuItem ::menuItem ('All Weighings', '/weighings', 'allWeighings', 'search')}"></a>
                        <a th:replace="~{fragments/menuItem ::menuItem ('Add a Weighing', '/weighings/add', 'addWeighing', 'plus')}"></a>
                        <a th:replace="~{fragments/menuItem ::menuItem ('All Meals', '/meals', 'allMeals', 'search')}"></a>
                        <a th:replace="~{fragments/menuItem ::menuItem ('Add a Meal', '/meals/add', 'addMeal', 'plus')}"></a>
                        <a th:replace="~{fragments/menuItem ::menuItem ('Crash', '/crash', 'crash', 'warning-sign')}"></a>
                    </div>
                </div>
                <div id="content-container">
                    <th:block th:include="${template}"/>
                </div>
            </div>

            <div id="footer-container">
                <div id="footer-content">
                    Weight Reductor 2020
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>

    </body>

</html>
