<html>
    <body>
        <form>
            <th:block th:fragment="select (label, name, items)">
                <div th:with="valid=${!#fields.hasErrors(name)}"
                     th:classappend="${valid ? '' : 'has-error'}"
                     class="form-group">
                    <label th:text="${label}">Label</label>
                    <div>
                        <select th:field="*{__${name}__}">
                            <option value=""></option>
                            <option th:each="item : ${items}"
                                    th:value="${item.id}"
                                    th:text="${item.name}">Item
                            </option>
                        </select>
                        <th:block th:if="${!valid}">
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  aria-hidden="true"></span>
                            <span class="help-inline" th:errors="*{__${name}__}">Error</span>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </form>
    </body>
</html>
