<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/rootLayout :: rootLayout (~{::body}, 'addWeighing', 'addWeighing')}">
    <body>
        <h2>Add a Weighing</h2>
        <form th:object="${weighing}" class="form-horizontal" method="post">
            <div class="form-group has-feedback">
                <input th:replace="~{fragments/inputField :: input ('Weight', 'weight', 'number')}"/>
                <input th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}"/>
            </div>
            <button th:with="text=${weighing['new']} ? 'Add a Weighing' : 'Update a Weighing'"
                    type="submit"
                    class="small blue button"
                    th:text="${text}">
                Add a Weighing
            </button>
        </form>
    </body>
</html>